style.css /* ========================================= RESET CODE ========================================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ========================================= MY STYLES ========================================= */

body {
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	}

h1 {
	font-size: 71px;
	line-height: 106px;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	width: 100%;
	position: relative;
	}	

h2 {
	font-size: 48px;
	line-height: 1;
	font-weight: bold;
	}

h3 {
	font-size: 32px;
	font-weight: bold;
	}

	h4 {
	font-size: 15px;
	}	

p {
	font-size: 100%;
	line-height: 1.5;
	}

/*HEADER*/

header nav {
	background:#222;
	padding: 14px;
	}

header nav .logo {
	background: #c78b06;
	padding: 18px 0px 17px 1px;
	}

header nav ul li.current a {
	background: #c78b06;
	color: #222;
	}

header nav ul li a {
	display: block;
	color: #c78b06;
	font-size: 18px; 
	line-height: 21px; 
	padding-top: 20px; 
	padding-bottom: 20px;
	text-align: center;
	text-decoration:none;
	}

header nav .search form {
		display: inline-flex;
		position: relative;
		width: 100%;
	}

.search input[type="text"]	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-left: 5px;
	width: 100%;
	height: 38px;
	border: 1px solid black;
	}
	
.search button {
	font-size: 24px;
	width: 40Px;
	height: 42px;
	border: 1px solid #c78b06;
	border-radius: 0%;
	background-color: #222;
  	color: #c78b06;
  	}			

header .intro {
	background: url("..//images/main-banner.jpg");
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	}

.intro .container{
	background-color: rgb(0, 0, 0, 0.6);
	margin: 68px 0px 67px 0px;
	width: 100%;
	}

.intro .container .container-text{
	padding: 50px 14px 14px 14px;
	}

.intro .container p {
	padding-top: 18px;
	padding-bottom: 14px;
	color: white;
	}

.intro .container button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	background: #c78b06;
	width: auto;
	height: auto;
	padding: 24px 28px 32px 31px;
	border: none;
	}

.intro .container button .icon {
	font-size: 1.3em;
	margin-left: 12px;
	}

	/*========ABOUT US==========*/

.about {
	background: #ffe6ac;
	padding-bottom: 16px;
	}

.about .container {
	padding-left: 14px;
	padding-right: 14px;
	}
	
.about .container img {
	padding-top: 14px;
	width: 100%;
	}

.about .container h2 {
	padding-top: 33px;
	padding-bottom: 25px;
	}

.about .container p {
	padding-bottom: 13px;
	}

/*========OUR SERVICES==========*/

.services .container {
	padding: 48px 14px 0px 14px;
	}

.services .container .grid-container {
	padding-top: 23px;
	}

.services .container .grid-container .grid-service {
	background: #ffe6ac;
	}

.services .container .grid-container .grid-service img {
	width: 100%;
	}

.services .container .grid-container .grid-service .container-service {
	padding: 36px 14px 14px 14px;
	margin-bottom: 14px;
	}

.services .container .grid-container .grid-service .container-service p {
	padding-top: 21px;
	padding-bottom: 14px;
	}

.services .container .grid-container .grid-service .container-service button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	background: #222;
	color: white;
	width: auto;
	height: auto;
	padding: 26px 28px 29px 30px;
	border: 2px solid black;
	}

	.services .container .grid-container .grid-service .container-service button .icon {
	font-size: 1.2em;
	margin-left: 12px;
	}

/*========VISION==========*/

.vision {
	background: url("..//images/vision.jpg");
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	color:white;
	margin-top: 28px;
	}

.vision .container{
	padding: 38px 14px 14px 14px;
	}

.vision .container p{
	padding-top: 21px;
	padding-bottom: 14px;
	}

.vision .container button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	background: #0e2138;
	color: white;
	width: auto;
	height: auto;
	padding: 27px 28px 32px 31px;
	border: none;
	border: 1px solid #c78b06;
	}

.vision .container button .icon {
	font-size: 1.2em;
	margin-left: 14px;
	}

/*===========TEAM============*/

.team {
	margin-top: 48px;
	padding-right: 14px;
	padding-left: 14px;
	}

.team img {
	width: 100%;
	}

.team .grid-container h2 {
	padding-bottom: 23px;
	}

.team .grid-container .grid-row {
	margin-bottom: 14px;
}

.team .grid-container .grid-row .grid-item-txt {
	background: #ffe6ac;
	padding-top: 22px;
	padding-left: 14px;
	padding-right: 14px;
	}

.team .grid-container .grid-row .grid-item-txt h3{
	padding-bottom: 9PX;
	}

.team .grid-container .grid-row .grid-item-txt h4{
	font-weight: bold;
	border-bottom: 2px solid #c78b06;
	padding-bottom: 4px;
	}

.team .grid-container .grid-row .grid-item-txt p{
	padding-top: 14px;
	padding-bottom: 28px ;
	}

/*===========CONTACT===============*/

.contact {
	margin-top: 77px;
	margin-bottom: 17px;
	padding-right: 14px;
	padding-left: 14px;
	}

.contact .grid-container .form {
	margin-top: 35px;
	margin-bottom: 15px;
	}

.contact .grid-container .form form {
	padding-top: 18px;
	}

.contact .grid-container .form form input {
	width: 100%;
	height: 26px;
	}

#fname {
	margin-top: 7px;
    margin-bottom: 11px;
	}

#email {
	margin-top: 6px;
    margin-bottom: 11px;
	}

.contact .grid-container .form form textarea {
	margin-top: 7px;
    margin-bottom: 19px;
	width: 100%;
	height: 144px;
	}

.contact .grid-container form button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #c78b06;
	background: #222;
	/*width: 61px;
	height: 33px;*/
	border: 1px solid black;
	padding: 5px 7px 3px 5px;
	}

.contact .grid-container .container {
	margin-top: 4px;
	margin-bottom: 23px;
	}

.contact .grid-container .container h3 {
	padding-top: 9px;
	padding-bottom: 15px;
	}

.contact .grid-container .container .table {
	width:100%
	}

.contact .grid-container .container .table th, td {
	border: 1px solid black;
	padding-top: 18px;
	padding-bottom: 17px;
	}

.contact .grid-container .container .table th {
	background: #ffe6ac;
	}

.contact .grid-container .container .table td {
	padding-left: 14px;
	}

.contact .grid-container .map iframe {
	width: 100%
	}

.map iframe {
	padding-top: 15px;
	}

/*===========FOOTER=============*/

footer {
	background: #222;
	text-align: left;
	border-top: 2px solid black;
	padding: 19px 14px 18px 14px;
	}
	
footer p, a {
	line-height: 2.5;
	color: #c78b06;
	}

/* ===========================================DESKTO===================================================== */

@media screen and (min-width: 760px) {

	h1 {
		font-size: 81px;
		line-height: 121px;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		color: white;
		width: 100%;
		position: relative;
		}	
	
	h2 {
		font-size: 54px;
		line-height: 1;
		font-weight: bold;
		}
	
	h3 {
		font-size: 36px;
		font-weight: bold;
		}
	
		h4 {
		font-size: 20px;
		}	
	
	p {
		font-size: 16px;
		line-height: 24px;
		}
	
	/*===============HEADER==============*/
	
	header nav {
		background: #222;
		padding: 0;
		}

	header nav .container {
		width: 1200px;
		margin:auto;
		display: flex;
		padding: 34px 14px 36px 15px;
		}
	
	header nav .logo {
		background: none;
		padding: 0;
		margin: 0 0 0 14px;
		width: 99px;
		height: 99px;
		}

	header nav ul {
		width: 736px;
		margin-left: 69px;
		margin-right: 0;
		}

	header nav ul, .search {
		display:flex;
		overflow: auto;
		margin-top: auto;
		margin-bottom: auto;
		}

	header nav ul li.current a {
		background: #c78b06;
		color: #222;
		}
	
	header nav ul li {
		display: block;
		color: #c78b06;
		width: 20%;
		text-align: center;
		text-decoration:none;
		}
	
	header nav ul li a{
		font-size: 20px;
		line-height: normal;
		padding-top: 21px; 
		padding-bottom: 22px;
		}

	.search input[type="text"]	{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		padding-left: 5px;
		width: 216px;
		height: 44px;
		border: 1px solid black;
		}
		
	.search button {
		font-size: 24px;
		color: #c78b06;
		width: 41px;
		height: 46px;
		border: 1px solid #c78b06;
		border-radius: 0%;
		background-color: #222;
		}	
	

	/*===============INTRO==============*/

	header .intro {
		background: url("..//images/main-banner.jpg");
		background-repeat: no-repeat;
		display: flex;
		background-size: cover;
		min-width: 100%;
		min-height: 100%;
		}
	
	.intro .container{
		background-color: rgb(0, 0, 0, 0.6);
		margin: 47px auto 47px auto;
		width: 1200px;
		}
	
	.intro .container .container-text{
		padding: 56px 15px 15px 15px;
		}
	
	.intro .container p {
		padding-top: 20px;
		padding-bottom: 16px;
		color: white;
		}
	
	.intro .container button {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		background: #c78b06;
		width: auto;
		height: auto;
		padding: 29px 31px 36px 36px;
		border: none;
		}
	
	.intro .container button .icon {
		font-size: 1.3em;
		margin-left: 14px;
		}
	
	/*============ABOUT US============*/
	
	.about {
		background: #ffe6ac;
		padding: 0;
		}
	
	.about .container {
		width: 1200px;
		margin: auto;
		padding: 17px 15px 16px 15px;
		}
		
	.about .container img {
		float: left;
		/*padding-top: 14px;*/
		margin: 0;
		padding: 0 16px 23px 14px;
		width: 576px;
		height: auto;
		}
	
	.about .container h2 {
		padding: 13px 14px 29px 0;
		}
	
	.about .container p {
		padding-bottom: 16px;
		}
	
	/*============OUR SERVICES=============*/
	
	.services .container {
		width: 1200px;
		margin: auto;
		padding: 56px 29px 0px 29px;
		}

	.services .container h2 {
		padding: 0 14px 0 14px;
		}

	.services .container .grid-container {
		display: grid;
		align-self: center;
		grid-gap: 16px;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto auto;
		padding: 27px 14px 10px 14px;
		}

	.services .container .grid-container img {
		width: auto;
		height: auto;
		margin: 0;
		padding: 0;
		}
	
	.services .container .grid-container .grid-service:nth-child(1) {
		grid-column: 1 / span 3;
		grid-row: 1 / span 1;
		height: 708px;
		}
		
	.services .container .grid-container .grid-service:nth-child(2) {
		grid-column: 4 / span 3;
		grid-row: 1 / span 1;
		height: 708px;
		}
			
	.services .container .grid-container .grid-service:nth-child(3) {
		grid-column: 1 / span 2;
		grid-row: 2 / span 1;
		height: 624px;
		}
	
	.services .container .grid-container .grid-service:nth-child(4) {
		grid-column: 3 / span 2;
		grid-row: 2 / span 1;
		height: 624px;
		}
	
	.services .container .grid-container .grid-service:nth-child(5) {
		grid-column: 5 / span 2;
		grid-row: 2 / span 1;
		height: 624px;
		}	

	.services .container .grid-container .grid-service .container-service {
		padding: 40px 16px 0px 16px;
		margin-bottom: 14px;
		}
	
	.services .container .grid-container .grid-service .container-service p {
		padding-top: 34px;
		padding-bottom: 16px;
		}
	
	.services .container .grid-container .grid-service .container-service button {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		background: #222;
		color: white;
		width: 100%;
		/*padding: auto;*/
		margin: 0;
		border: 2px solid black;
		}
	
		.services .container .grid-container .grid-service .container-service button .icon {
		font-size: 1.2em;
		margin-left: 12px;
		}
	
	/*========VISION==========*/
	
	.vision {
		background: url("..//images/vision.jpg");
		background-repeat: no-repeat;
		display: flex;
		background-size: cover;
		min-width: 100%;
		min-height: 100%;
		color:white;
		margin-top: 22px; /*OK*/
		}
	
	.vision .container{
		width: 1200px;
		margin: 0;
		padding: 43px 90px 16px 89px;
		}
	
	.vision .container p{
		padding-top: 25px;
		padding-bottom: 16px;
		}
	
	.vision .container button {
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		background: #0e2138;
		color: white;
		width: auto;
		height: auto;
		padding: 32px 34px 36px 36px;
		border: none;
		border: 1px solid #c78b06;
		}
	
	.vision .container button .icon {
		font-size: 1.2em;
		margin-left: 14px;
		}
	
	/*===========TEAM============*/
	
	.team {
		width: 1200px;
		margin: 55px auto 0 auto;
		padding-right: 15px;
		padding-left: 15px;
		}
	
	.team img {
		width: 100%;
		}

	.team .grid-container {
		padding: 0 14px 0 14px;
		}

	.team .grid-container h2 {
		padding-bottom: 28px;
		}
	
	.team .grid-container .grid-row {
		display: grid;
		align-self: center;
		grid-template-columns: 1fr 1fr;
		margin: 0;
		}
	
	.team .grid-container .grid-row .grid-row-reverse {
		background: chartreuse;
		display:flex;
		flex-direction: row-reverse;
		}

	.team .grid-container .grid-row .grid-item-txt {
		background: #ffe6ac;
		padding-top: 25px;
		padding-left: 14px;
		padding-right: 18px;
		}
	
	.team .grid-container .grid-row .grid-item-txt h3{
		padding-bottom: 12PX;
		}
	
	.team .grid-container .grid-row .grid-item-txt h4{
		font-weight: bold;
		border-bottom: 2px solid #c78b06;
		padding-bottom: 4px;
		}
	
	.team .grid-container .grid-row .grid-item-txt p{
		padding-top: 16px;
		padding-bottom: 28px ;
		}	
	
	/*===========CONTACT===============*/
	
	.contact {
		width: 1200px;
		margin: 77px auto 17px auto;
		padding-right: 14px;
		padding-left: 14px;
		}

	.contact .grid-container {
		margin-top: 77px;
		margin-bottom: 17px;
		padding-right: 14px;
		padding-left: 14px;
		display: grid;
		align-self: center;
		grid-gap: 16px;
		grid-template-columns: 50% 50%;
		grid-template-rows: 10% 60% 30%;
		width: auto;
		height: auto;
		}
	
	
	.contact .grid-container .container:nth-child(1) {
		grid-column: 1 / span 2;
		grid-row: 1 / span 1;
		}
	
	.contact .grid-container .container:nth-child(2) {
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
		}
	
	.contact .grid-container .container:nth-child(3) {
		grid-column: 1 / span 2;
		grid-row: 3 / span 1;
		}
	
	.contact .grid-container .container:nth-child(4) {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
		}
	
	.contact .grid-container .form {
		margin: 0;
		padding: 0;
		}
	
	.contact .grid-container .form form {
		padding-top: 18px;
		}
	
	.contact .grid-container .form form input {
		width: 100%;
		height: 26px;
		}
	
	#fname {
		margin-top: 7px;
		margin-bottom: 11px;
		}
	
	#email {
		margin-top: 6px;
		margin-bottom: 11px;
		}
	
	.contact .grid-container .form form textarea {
		margin-top: 7px;
		margin-bottom: 19px;
		width: 100%;
		height: 144px;
		}
	
	.contact .grid-container form button {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: #c78b06;
		background: #222;
		border: 1px solid black;
		padding: 5px 7px 3px 5px;
		}
	
	.contact .grid-container .container {
		margin-top: 4px;
		margin-bottom: 23px;
		}
	
	.contact .grid-container .container h3 {
		padding-top: 9px;
		padding-bottom: 15px;
		}
	
	.contact .grid-container .container .table {
		width:100%
		}
	
	.contact .grid-container .container .table th, td {
		border: 1px solid black;
		padding-top: 18px;
		padding-bottom: 17px;
		}
	
	.contact .grid-container .container .table th {
		background: #ffe6ac;
		}
	
	.contact .grid-container .container .table td {
		padding-left: 14px;
		}
	
	.contact .grid-container .map iframe {
		width: 100%
		}
	
	.map iframe {
		padding-top: 15px;
		}
	
	/*===========FOOTER=============*/
	
	footer {
		background: #222;
		text-align: left;
		border-top: 2px solid black;
		padding: 19px 14px 18px 14px;
		}
		
	footer p, a {
		line-height: 2.5;
		color: #c78b06;
		}
}


