style.css /* ========================================= RESET CODE ========================================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ========================================= MY STYLES ========================================= */

body {
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	}

h1 {
	font-size: 71px; /*ok */
	line-height: 106px; /* ok */
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: white;
	width: 100%;
	position: relative;
	}	

h2 {
	font-size: 48px;
	line-height: 1;
	font-weight: bold;
	}

h3 {
	font-size: 32px;
	font-weight: bold;
	}

	h4 {
	font-size: 16px;
	}	

p {
	font-size: 100%;
	line-height: 1.5;
	}

/*HEADER*/

header nav {  /*OK*/
	background:#222;
	padding: 14px;
	}

header nav .logo{ /*OK*/
	background: #c78b06;
	padding: 18px 0px 17px 1px;
	}

header nav ul li.current a { /*OK*/
	background: #c78b06;
	color: #222;
	}

header nav ul li a { /*OK*/
	display: block;
	color: #c78b06;
	font-size: 18px; 
	line-height: 21px; 
	padding-top: 20px; 
	padding-bottom: 20px;
	text-align: center;
	text-decoration:none;
	}

header nav .search form {
		display: inline-flex;
		position: relative;
		width: 100%;
	}

.search input[type="text"]	{ /* OK */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding-left: 5px;
	width: 100%;
	height: 38px;
	border: 1px solid black;
	}
	
.search button { /* OK */
	font-size: 24px;
	width: 40Px;
	height: 42px;
	border: 1px solid #c78b06;
	border-radius: 0%;
	background-color: #222;
  	color: #c78b06;
  	}			

header .intro {
	background: url("..//images/main-banner.jpg");
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	}

.intro .container{ /* OK */
	background-color: rgb(0, 0, 0, 0.6);
	margin: 68px 0px 67px 0px;
	width: 100%;
	}

.intro .container .container-text{ /* OK */
	padding: 50px 14px 14px 14px;
	}

.intro .container p { /* OK */
	padding-top: 18px;
	padding-bottom: 14px;
	color: white;
	}

.intro .container button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	background: #c78b06;
	width: auto;
	height: auto;
	padding: 24px 28px 32px 31px;
	border: none;
	}

.intro .container button .icon {
	font-size: 1.3em;
	margin-left: 12px;
	}

	/*========ABOUT US==========*/

.about { /* OK */
	background: #ffe6ac;
	padding-bottom: 16px;
	}

.about .container { /* OK */
	padding-left: 14px;
	padding-right: 14px;
	}
	
.about .container img { /* OK */
	padding-top: 14px;
	width: 100%;
	}

.about .container h2 { /* OK */
	padding-top: 33px;
	padding-bottom: 25px;
	}

.about .container p {/* OK */
	padding-bottom: 13px;
	}

/*========OUR SERVICES==========*/

.services .container {
	padding: 48px 14px 0px 14px;
	}

.services .container .grid-container { /* ok */
	padding-top: 23px;
	}

.services .container .grid-container .grid-service {
	background: #ffe6ac;
	}

.services .container .grid-container .grid-service img {
	width: 100%;
	}

.services .container .grid-container .grid-service .container-service {
	padding: 36px 14px 14px 14px;
	margin-bottom: 14px;
	}

.services .container .grid-container .grid-service .container-service p {
	padding-top: 21px;
	padding-bottom: 14px;
	}

.services .container .grid-container .grid-service .container-service button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	background: #222;
	color: white;
	width: auto;
	height: auto;
	padding: 26px 28px 29px 30px;
	border: 2px solid black;
	}

	.services .container .grid-container .grid-service .container-service button .icon {
	font-size: 1.2em;
	margin-left: 12px;
	}

/*========VISION==========*/

.vision {
	background: url("..//images/vision.jpg");
	background-repeat: no-repeat;
	display: flex;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	color:white;
	margin-top: 28px;
	}

.vision .container{
	padding: 38px 14px 14px 14px;
	}

.vision .container p{
	padding-top: 21px;
	padding-bottom: 14px;
	}

.vision .container button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	background: #0e2138;
	color: white;
	width: auto;
	height: auto;
	padding: 27px 28px 32px 31px;
	border: none;
	border: 1px solid #c78b06;
	}

.vision .container button .icon {
	font-size: 1.2em;
	margin-left: 14px;
	}

/*===========TEAM============*/

.team { /* OK */
	margin-top: 48px;
	padding-right: 14px;
	padding-left: 14px;
	}

.team img {
	width: 100%;
	}

.team .grid-container h2 { /* OK */
	padding-bottom: 23px;
	}

.team .grid-container .grid-row {
	margin-bottom: 14px;
}

.team .grid-container .grid-row .grid-item-txt { /* OK */
	background: #ffe6ac;
	padding-top: 20px;
	padding-left: 14px;
	padding-right: 14px;
	}

.team .grid-container .grid-row .grid-item-txt h3{ /* OK */
	padding-bottom: 10PX;
	}

.team .grid-container .grid-row .grid-item-txt h4{ /* OK */
	font-weight: bold;
	border-bottom: 2px solid #c78b06;
	padding-bottom: 4px;
	}

.team .grid-container .grid-row .grid-item-txt p{ /* OK */
	padding-top: 14px;
	padding-bottom: 28px ;
	}

/*===========CONTACT===============*/

.contact {
	margin-top: 77px;
	margin-bottom: 17px;
	padding-right: 14px;
	padding-left: 14px;
	}

/*.contact .grid-container {
	padding-right: 14px;
	padding-left: 14px;
	}*/

.contact .grid-container .form {
	margin-top: 35px;
	margin-bottom: 15px;
	}

.contact .grid-container .form form {
	padding-top: 18px;
	}

.contact .grid-container .form form input {
	width: 100%;
	height: 26px;
	}

#fname {
	margin-top: 7px;
    margin-bottom: 11px;
	}

#email {
	margin-top: 6px;
    margin-bottom: 11px;
	}

.contact .grid-container .form form textarea {
	margin-top: 7px;
    margin-bottom: 19px;
	width: 100%;
	height: 144px;
	}

.contact .grid-container form button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #c78b06;
	background: #222;
	/*width: 61px;
	height: 33px;*/
	border: 1px solid black;
	padding: 5px 7px 3px 5px;
	}

.contact .grid-container .container {
	margin-top: 4px;
	margin-bottom: 23px;
	}

.contact .grid-container .container h3 {
	padding-top: 9px;
	padding-bottom: 15px;
	}

.contact .grid-container .container .table {
	width:100%
	}

.contact .grid-container .container .table th, td {
	border: 1px solid black;
	padding-top: 18px;
	padding-bottom: 17px;
	}

.contact .grid-container .container .table th {
	background: #ffe6ac;
	}

.contact .grid-container .container .table td {
	padding-left: 14px;
	}

.contact .grid-container .map iframe {
	width: 100%
	}

.map iframe {
	padding-top: 15px;
	}

/*===========FOOTER=============*/

footer {
	background: #222;
	text-align: left;
	border-top: 2px solid black;
	padding: 19px 14px 18px 14px;
	}
	
footer p, a {
	/*padding-right: 32px;*/
	line-height: 2.5;
	color: #c78b06;
	}

/* =====================DESKTOP===================== */

/*@media screen and (min-width: 760px) {


h1 {
	font-size: 81px;
	line-height: 112px;
	font-weight: bold;
	}

h2 {
	font-size: 54px;
	line-height: 1;
	font-weight: bold;
	}

p {
	font-size: 16px;
	line-height: 1.5;
	}

header nav {
	padding: 0;
	}

header nav .container .logo {
	background: none;
	padding: 0;
	}	

.container {
	width: 760px;
	background: pink;
	margin: 0 auto;
	}

}*/


